#sideDrawer {
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 65px;
    bottom: 0;
    right: -400px;
    background-color: rgba(100, 116, 139, 0.95);
    transition: right 0.5s;
    padding: 25px;
    z-index: 1;
}

#sideDrawer.active {
    right: 0px;
}

#sideDrawer input {
    margin-bottom: 10px;
}
